@import url(https://fonts.googleapis.com/css?family=Roboto);

body,
select,
input {
      font-family: Roboto, sans-serif;
}

.CowList {
    width: 90%;
    margin: 10px auto;
} 



/* EXCEL 버튼 */
.exportCSV{
	margin-right: 5px;
	text-align: center;
	border: 1px solid white;
	transition: all 0.15s;
	background-color: #00695C;
	padding: 5px 3px;
	color: white;
    border-radius: 5px;
    cursor: pointer;
}

.exportCSV:hover{
	background-color: transparent;
	border: 1px solid gray;
	color: black;
}

