@import url(https://fonts.googleapis.com/css?family=Roboto);

body,
select,
input {
      font-family: Roboto, sans-serif;
}

.CowList {
    width: 95%;
    margin: 10px auto;
} 

/* 검색창, 페이지당 select 등 input 관련 */
.dataTables_wrapper .dataTables_filter input,
select[name=myTable_length] {
    padding: 0.5em;
}

#select {
    padding: 0.5em;
    margin-right: 0.5em;
}





